.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FDFDFD;
    padding: 0 80px;
}

p {
    font-size: 16px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #0A0908;
}


/* HEADER */

.header {
    height: 80px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav {
    display: flex;
    gap: 35px;
}

.nav a {
    text-decoration: none;
    color: #3B3E3E;
    font-size: 16px;
    font-weight: 500;
}

.header-actions {
    display: flex;
    gap: 30px;
}

.icon-button {
    border: none;
    background: none;
}

body {
    background: #ffffff;
    color: #222;
}

.cart-page {
    width: 1200px;
    margin: 50px auto;
}

.cart-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.cart-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

